{% extends 'base.html.twig' %} {% block title %}Bienvenue!{% endblock %} {% block body %}

<div class="jumbotron text-center m-5">
    <h1>Bienvenue...!✅</h1>

    <p>Conveniently scale future-proof applications before bricks-and-clicks ROI. Progressively re-engineer cost effective opportunities vis-a-vis value-added.</p>

    <div class="container ">

        <h2>Parrain et Marraine...! </h2>


        <div class="row">
           {# <div class="col-4">
                                          
        </div> #}
            {% for data in paginations.data %}
            <div class="col-4">
                <div class="card border-secondary mb-5">
                    <div class="card-body mx-3">
                        <h4 class="card-title">{{data.prenom}}</h4>

                        <hr>

                        <div class="card-text">
                            <img src="{{data.image}}" alt="Avatar de {{data.fullName}}" class="float-center mr-5">
                            <br>
                            <p>{{data.Nom }} suit la vie scolaire de </p>
                            <a href="#" class="btn btn-primary float-center" >En savoir plus!</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> 

        {{ paginations.display() }}


    </div>

</div>
{% endblock %}