{# {{ form_start(form) }}
    {{ form_widget(form) }}
  
{{ form_end(form) }} #}
{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>

<div class="row">
    <div class="form-group col-md-6">
        {{ form_row(form) }}
    </div>
    <div class="form-group col-md-2">
        {{ form_row(form) }}
    </div>
   
</div>    
<button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}

